{% extends 'core/base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}
    <h1 class="py-2 text-3xl bg-teal-800 text-center text-white rounded-xl hover:bg-grey-900">My Orders</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<br>

    <div class="text-xl flex flex-wrap">
        <div class="w-1/4 ">
            <strong>Order ID</strong>
        </div>

        <div class="w-1/4">
            <strong>Product Title</strong>
        </div>

        <div class="w-1/4">
            <strong>Quantity</strong>
        </div>

        <div class="w-1/4">
            <strong>Price</strong>
        </div>
    </div>

    {% for order_item in order_items %}
        <div class="text-xl flex flex-wrap">
            <div class="w-1/4">
                <a href="{% url 'my_order_detail' order_item.order.id %}" class="text-blue-700">{{ order_item.order.id}}</a>
            </div>

            <div class="w-1/4">
                {{ order_item.product.title }}
            </div>

            <div class="w-1/4">
                {{ order_item.quantity }}
            </div>

            <div class="w-1/4">
                ${{ order_item.get_display_price }}
            </div>
        </div>
    {% endfor %}

{% endblock %}